language: java

jdk:
  - oraclejdk8

script: mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install -Dmaven.test.failure.ignore=true

install: true

sudo: false

cache:
  directories:
    - '$HOME/.m2/repository'

notifications:
  email: false